@import '../../less/variables.less';

.dashboard {
  .leaflet-container {
    height: 100vh;
    width: calc(100% + (2 * @container-padding));
    margin-left: -1 * @container-padding;
    margin-top: -1 * @container-padding;
  }
}
