@import '../../less/variables.less';

.welcome-overlay {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9999999;
  min-height: 100vh;
  width: 100%;
  background: rgba(0, 0, 0, 0.8);
  color: #e6e6e6;
  text-align: center;
  padding: 4em;

  h1 {
    border-bottom: 1px solid lightgray;
    padding-bottom: 0.25em;
    margin-bottom: 0.25em;
  }
}

.info-drawer {
  position: absolute;
  top: 0;
  left: 0;
  background-color: @primary-bg;

  padding-top: @container-padding;
  padding-bottom: @container-padding;
  padding-left: @side-nav-width;

  min-height: 100vh;
  z-index: @nav-z - 100;
  box-shadow: 1px 0px 18px 0px @shadow-color;

  width: 0;
  transition: width 0.15s ease-in;

  overflow-x: hidden;

  // for testing
  text-align: right;
  
  &.info-drawer-open {
    width: 60%;
  }
}

.info-drawer-overlay {
  position: absolute;
  top: 0;
  left: 0;
  min-height: 100vh;
  width: 100%;

  z-index: 0;
  opacity: 0;
  transition: opacity 0.3s ease-in;
  background-color: black;

  &.info-drawer-overlay-open {
    z-index: @nav-z - 101;
    opacity: 0.7;
  }
}

.dashboard {
  .leaflet-container {
    height: 100vh;
    width: calc(100% + (2 * @container-padding));
    margin-left: -1 * @container-padding;
    margin-top: -1 * @container-padding;
    margin-bottom: -1 * @container-padding;
  }
}
