@import '../../../less/variables';

@drawer-z: @nav-z - 100;

info-drawer {
  .info-drawer {
    position: absolute;
    top: 0;
    left: -60%;
    background-color: #ececec;
  
    padding-left: @side-nav-width;
  
    height: 100vh;
    z-index: @drawer-z;
    box-shadow: 1px 0px 18px -5px black;
  
    width: 60%;
    transition: left 0.25s ease-in;
  
    overflow-x: hidden;
  
    &.info-drawer-open {
      left: 0;
    }
    
    .info-drawer-container {
      height: 100%;

      .info-drawer-header {
        background: #283c44;
        padding-top: 2rem;
        padding-left: 1rem;
        padding-right: 1rem;
        padding-bottom: 4rem;

        .marker-icon {
          color: @marker-blue;
        }
      }

      .info-drawer-content {
        margin-top: -1.5rem;

        .card {
          height: 200px;
          margin-bottom: 2*@container-padding;
        }
      }
    }
  }

  .info-drawer-footer {
    text-align: right;
    width: 100%;
  }
  
  .info-drawer-overlay {
    position: absolute;
    top: 0;
    left: 0;
    min-height: 100vh;
    width: 100%;
  
    z-index: 0;
    opacity: 0;
    transition: opacity 0.25s ease-in;
    background-color: black;
  
    &.info-drawer-overlay-open {
      z-index: @drawer-z - 1;
      opacity: 0.7;
    }
  }
  
  .info-drawer-closer {
    position: absolute;
    left: 0%;
    padding: 1rem;
    z-index: @drawer-z;
    transition: left 0.25s ease-in;
    color: var(--white);

    &.info-drawer-closer-open {
      left: 60%;
    }
  }
}
